<aside id="application-sidebar-brand"
       class="hs-overlay hs-overlay-open:translate-x-0 -translate-x-full  transform hidden xl:block xl:translate-x-0 xl:end-auto xl:bottom-0 fixed top-0 with-vertical h-screen z-[999] flex-shrink-0 border-r-[1px] w-[270px] border-gray-400  bg-white left-sidebar   transition-all duration-300">
    <!-- ---------------------------------- -->
    <!-- Start Vertical Layout Sidebar -->
    <!-- ---------------------------------- -->
    <div class="p-5">

        <a asp-controller="Home" asp-action="Index" class="text-nowrap">
            <h1 style="font-size:32px; font-weight:700;">BiHome</h1>
        </a>


    </div>
    <div class="scroll-sidebar" data-simplebar="">
        <div class="px-6 mt-8">
            <nav class=" w-full flex flex-col sidebar-nav">
                <ul id="sidebarnav" class="text-gray-600 text-sm">
                    <li class="text-xs font-bold pb-4">
                        <i class="ti ti-dots nav-small-cap-icon text-lg hidden text-center"></i>
                        <span>ANA</span>
                    </li>

                    <li class="sidebar-item">
                        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="sidebar-link gap-3 py-2 px-3  rounded-md  w-full flex items-center hover:text-blue-600 hover:bg-blue-500" >
                            <i class="ti ti-layout-dashboard  text-xl"></i> <span>Keşfet</span>
                        </a>
                    </li>


                    <li class="sidebar-item">
                        <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="sidebar-link gap-3 py-2 px-3  rounded-md  w-full flex items-center hover:text-blue-600 hover:bg-blue-500" >
                            <i class="ti ti-article  text-xl"></i> <span>Ürünler</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link gap-3 py-2 px-3  rounded-md  w-full flex items-center hover:text-blue-600 hover:bg-blue-500" >
                            <i class="ti ti-article  text-xl"></i> <span>Kategoriler</span>
                        </a>
                    </li>


                    <li class="sidebar-item">
                        <a class="sidebar-link gap-3 py-2 px-3  rounded-md  w-full flex items-center hover:text-blue-600 hover:bg-blue-500" >
                            <i class="ti ti-article  text-xl"></i> <span>Markalar</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link gap-3 py-2 px-3  rounded-md  w-full flex items-center hover:text-blue-600 hover:bg-blue-500" >
                            <i class="ti ti-article  text-xl"></i> <span>Türler</span>
                        </a>
                    </li>



                </ul>
            </nav>
        </div>
    </div>

</aside>