@{
    ViewData["Title"] = "SignUp";
}

@model VM_SignUp

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial");
}




<div class="col-md-4 offset-md-4">
    <h2>Kullanıcı Kayıt</h2>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Başarılı</h4>
            <p>@TempData["SuccessMessage"]</p>
        </div>
    }


    @if (TempData["ExistUserName"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["ExistUserName"]
        </div>
    }


    <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Hata!</h4>
        <p></p>
    </div>



    <form asp-controller="Home" asp-action="SignUp" method="post">
        <div class="row mb-3">
            <label for="inputUsername3" class=" col-form-label" asp-for="Username"></label>
            <div class="col-sm-10">
                <input asp-for="Username" type="text" class="form-control" id="inputEmail3">
                <span class="text-danger" asp-validation-for="Username"></span>
            </div>
        </div>

        <div class="row mb-3">
            <label for="inputEmail3" class=" col-form-label" asp-for="Email"></label>
            <div class="col-sm-10">
                <input asp-for="Email" type="email" class="form-control" id="inputEmail3">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
        </div>

        <div class="row mb-3">
            <label for="inputPhone3" class=" col-form-label" asp-for="Phone"></label>
            <div class="col-sm-10">
                <input asp-for="Phone" type="text" class="form-control" id="inputPhone3">
                <span class="text-danger" asp-validation-for="Phone"></span>
            </div>
        </div>

        <div class="row mb-3">
            <label for="inputPassword3" class=" col-form-label" asp-for="Password"></label>
            <div class="col-sm-10">
                <input asp-for="Password" type="text" class="form-control" id="inputPassword3">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
        </div>


        <div class="row mb-3">
            <label for="inputPasswordrt3" class=" col-form-label" asp-for="PasswordConfirm"></label>
            <div class="col-sm-10">
                <input asp-for="PasswordConfirm" type="text" class="form-control" id="inputPasswordrt3">
                <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
            </div>
        </div>


        <button type="submit" class="btn btn-primary">Kayıt Ol</button>
    </form>
</div>
